<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <%= link_to image_tag("SHELF_set.png", class: :logo), root_path %>
      </div>
      <div class="nav__right-login">
        <%= link_to "お気に入り",  '/users/:user_id/articles/:article_id/favorites', class: :nav__text %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__text %>
      </div>
    </div>
  </div>
</header>

      <%# /* ------------user/show/main------------- */ %>

<div class="inner">
  <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "〜　Mypage　〜"%>
      </h2>
      <div class="profile">
        <div class="profile-image">
          <%= image_tag @user.image.variant(resize: '500x500'), class: 'profile-img' if @user.image.attached? %>
        </div>
        <div class="user-nickname">
          <%= @user.nickname %>
        </div>
        <div class="user-profile">
          <%= @user.profile %>
        </div>
      </div>
  </div>

        <%# /* ------------user/show/main------------- */ %>


      <%# ---フォローボタン/リスト表示--- %>

  <% if current_user != @user %>
    <div class="follow_page-btn">
      <% if @user.followed_by?(current_user) %>
        <%=link_to "フォロー中", user_follows_path(@user.id),class: "follow-btn-now" , method: :delete %>
      <% else %>
        <%=link_to "フォローする", user_follows_path(@user.id),class: "follow-btn" ,method: :post %>
      <% end %>
    </div>
  <% end %>

  <div class="following-lists">
    <div class="following-text">フォロー</div>
  </div>
    <div class="follow-list">
      <% @user.followings.each do |user| %>
        <div class="follow-profile">
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.image.variant(resize: '100x100'), class: 'follow-profile-img' if @user.image.attached? %>
            <div class="follow-user-name">
              <%= link_to "ユーザー名", user_path(user.id),class: "f-user-name" %>
              <%= link_to user.nickname, user_path(user.id),class: "f-user" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="following-lists">
      <div class="following-text">フォロワー</div>
    </div>
    <div class="follow-list">
      <% @user.followers.each do |user| %>
        <div class="follow-profile">
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.image.variant(resize: '100x100'), class: 'follow-profile-img' if @user.image.attached? %>
            <div class="follow-user-name">
              <%= link_to "ユーザー名", user_path(user.id),class: "f-user-name" %>
              <%= link_to user.nickname, user_path(user.id),class: "f-user" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>

      <%# ---フォローボタン/リスト表示--- %>

       <%# ---投稿一覧の表示--- %>

<% if @articles[0] == nil %>
<% else %>
  <div class="space"></div>
  <h2 class="user-article">
    <%= "#{@user.nickname}さんの投稿記事"%>
  </h2>
  <%= render partial: "articles/article", collection: @articles %>
<% end %>

